@charset "utf-8";
/* CSS Document */
*{ focus:none; outline:none;}
a:focus, a:hover{ text-decoration:none;}
body{font-family: 'Open Sans', sans-serif;}
.role{
    text-align: center;
    padding:1px 0;
    border: 1px solid #ddd;
    display: inline-block;
    float: right;
	width:25%;
	font-weight: 600;
	}
.role a{ text-transform: uppercase;
    text-decoration: none;
	color: #CCC;
	font-size:12px;
		}
		
		.role3{
    text-align: center;
    padding:1px 0;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
	width:25%;
	font-weight: 600;
	}
.role3 a{ text-transform: uppercase;
    text-decoration: none;
	color: #CCC;
	font-size:12px;
		}
	.role4{display: inline-block;
    float: left;
    padding: 5px 8px 5px 0;
    font-size: 12px;
	font-weight: 700;
	}
	
.role2{
    padding: 5px 0;
    font-size: 12px;
	font-weight: 700;
	}
.right-icon{ margin-bottom: 40px;  display: block;   text-align: left;
    background: #337ab7;
    padding: 2px 12px;}
.seting-icon{
	text-align: right;
    font-size: 21px;
    color: #b7b7b7;
	}
.padtop30{ padding-top:30px;}
.margtop30{ margin-top:30px;}
.hed{ color:#000; font-size:12px; font-weight:600; text-align:center;}
.txt{ border:1px solid #ececec; color:#999; border-radius:3px; padding:0 5px; height:25px;}
.serch{
	border-radius: 5px;
    padding: 4px 8px;
    background: #eaeaea;
    color: #fff;
    border: 0;
    font-size: 13px;
	}
.mytable { text-align:center;}

.tbl tr td{ vertical-align:middle !important;}

.green{background: #01a69e;
background: -moz-linear-gradient(-45deg, #01a69e 1%, #91f2ea 81%);
background: -webkit-linear-gradient(-45deg, #01a69e 1%,#91f2ea 81%);
background: linear-gradient(135deg, #01a69e 1%,#91f2ea 81%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a69e', endColorstr='#91f2ea',GradientType=1 );
    margin: 0 auto;
border-radius: 20px;
    height: 22px;
    width: 22px;
    line-height: 22px;text-align: center;
}
.green a{ color:#FFF;}


.yellow{background: #e8f400;
background: -moz-linear-gradient(top, #e8f400 0%, #f7ff8e 76%);
background: -webkit-linear-gradient(top, #e8f400 0%,#f7ff8e 76%);
background: linear-gradient(to bottom, #e8f400 0%,#f7ff8e 76%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f400', endColorstr='#f7ff8e',GradientType=0 );
    margin: 0 auto;
border-radius: 20px;
    height: 22px;
    width: 22px;
    line-height: 22px;
}
.yellow i{ color:#FFF;}




.disable{margin: 0 auto;}
.disable { color:#f3f3f3;}
.disable i{font-size:24px;}
.last-text{ color:#fff; background: #edda1d;
background: -moz-linear-gradient(top, #edda1d 1%, #f1e57c 91%);
background: -webkit-linear-gradient(top, #edda1d 1%,#f1e57c 91%);
background: linear-gradient(to bottom, #edda1d 1%,#f1e57c 91%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edda1d', endColorstr='#f1e57c',GradientType=0 );

    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
}
.hdd{ font-size:12px; font-weight:700;padding-bottom: 10px;}
.disable2{ border:1px solid #f3f3f3;     text-align: center; padding:10px 0}
.disable2 i{ color:#f3f3f3; font-size: 33px;}
.txtarea{ height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    color: #000;
    margin-bottom: 50px;
	}
.qty{ background:#f5313f; color:#FFF}
.right-icon .order{background: transparent;     border-radius: 6px;   border: 1px solid #fff;   padding: 1px 8px;}
.right-icon .order:hover{ border: 1px solid #fff; color:#fff}
.right-icon1 {text-align: right;}
.right-icon  .seting-icon i.fa-cog{color:#fff;}
.order{ 
 background: #ececec;
    color: #fff;
    padding: 3px 12px;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
	}
.order a{ color:#fff;}
.order a:hover{ text-decoration:none; color:#666 !important;}
.marbot30{ margin-bottom:30px;}


/*radio button*/
.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
       padding-left: 2px;
    padding-right: 33px;
	font-size:13px;
	font-weight:600;
	 }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
   
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }
	
	.checkbox, .radio {
    position: relative;
     display: inline-block; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

@media only screen and (max-width:768px){
	
	.role2{ float:none; text-align:center; display:block;}
	.right-icon {
    text-align: center;
}	
.checkbox, .radio{ display:block; text-align:center;}
}
.red{background: #ff0000;
background: -moz-linear-gradient(top, #ff0000 0%, #ff8e8e 76%);
background: -webkit-linear-gradient(top, #ff0000 0%,#ff8e8e 76%);
background: linear-gradient(to bottom, #ff0000 0%,#ff8e8e 76%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff8e8e',GradientType=0 );
    margin: 0 auto;
border-radius: 20px;
    height: 22px;
    width: 22px;
    line-height: 22px;
}
.red i{ color:#FFF;}
.text-area{
 
 min-height: 85px;
    width: 100%;
    border: 0;
   
    overflow-x: hidden;
   
 
 }


.newscrl::-webkit-scrollbar {
    width: 4px;
}
 

.newscrl::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

.newscrl::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.newscrl::-webkit-scrollbar-thumb:window-inactive {
 background:#090; 
}

.instore{ border:1px solid #ddd;    padding: 13px 5px; }

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
  vertical-align: middle;
}


.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.green-checked{
	margin: 0px 0 0 40px;
}

.order-btn{display: inline-block;
    padding-right: 9px;
    vertical-align: middle;}
    
.right-icon .seting-icon{vertical-align: middle;
    display: inline-block;}   
   .order-details-page .role2, .no-wrap{/* white-space: nowrap; */}
   
  .no-wrap span.radio.radio-primary{margin-top: 8px;}
  .order-details-page .no-wrap  .role2 {margin-left: -42px}
  .remove-border, .remove-border td{
  border : 0 !important;
  }
  .margtop30.summary-header-fixed {
    position: fixed;
    width: 100%;
    height: 150px;
    top: -30px;
    background: #fff;
    z-index: 9;
}
.summary-table {
	margin-top:121px;
}
#table1{
	background : #fff;
	
}
.ordered-header-fixed {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9;
    top: -30px !important;
}
.ordered-content{
	
    margin-top: 153px;
}

.b1 {
    display: table-cell;
    padding-right: 5px;
    padding-top: 3px;}
.b2 {
    display: table-cell;

    vertical-align: top;
}
.b2 .txt{height: 27px;
    margin: 0 5px 5px 0;}