@charset "utf-8";
/* CSS Document */
*{ focus:none; outline:none;}
a:focus, a:hover{ text-decoration:none;}
body{font-family: 'Open Sans', sans-serif;}
.role{
    text-align: center;
    padding:1px 0;
    border: 1px solid #ddd;
    display: inline-block;
    float: right;
	width:25%;
	font-weight: 600;
	}
.role a{ text-transform: uppercase;
    text-decoration: none;
	color: #CCC;
	font-size:12px;
		}
		
		.role3{
    text-align: center;
    padding:1px 0;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
	width:25%;
	font-weight: 600;
	}
.role3 a{ text-transform: uppercase;
    text-decoration: none;
	color: #CCC;
	font-size:12px;
		}
	.role4{display: inline-block;
    float: left;
    padding: 5px 8px 5px 0;
    font-size: 12px;
	font-weight: 700;
	}
	
.role2{display: inline-block;
    float: left;
    padding: 5px 0;
    font-size: 12px;
	font-weight: 700;
	}
.right-icon{ text-align:right;}
.seting-icon{
	text-align: right;
    font-size: 21px;
    color: #b7b7b7;
	}
.padtop30{ padding-top:30px;}
.margtop30{ margin-top:30px;}
.hed{ color:#000; font-size:12px; font-weight:600; text-align:center;}
.txt{ border:1px solid #ececec; color:#999; border-radius:3px; padding:0 5px; height:25px;}
.serch{
	border-radius: 5px;
    padding: 4px 8px;
    background: #eaeaea;
    color: #fff;
    border: 0;
    font-size: 13px;
	}
.mytable { text-align:center;}

.tbl tr td{ vertical-align:middle !important;}

.green{background: #01a69e;
background: -moz-linear-gradient(-45deg, #01a69e 1%, #91f2ea 81%);
background: -webkit-linear-gradient(-45deg, #01a69e 1%,#91f2ea 81%);
background: linear-gradient(135deg, #01a69e 1%,#91f2ea 81%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a69e', endColorstr='#91f2ea',GradientType=1 );
    margin: 0 auto;
border-radius: 20px;
    height: 22px;
    width: 22px;
    line-height: 22px;
}
.green a{ color:#FFF;}

.disable{margin: 0 auto;}
.disable { color:#f3f3f3;}
.disable i{font-size:24px;}
.last-text{ color:#fff; background: #edda1d;
background: -moz-linear-gradient(top, #edda1d 1%, #f1e57c 91%);
background: -webkit-linear-gradient(top, #edda1d 1%,#f1e57c 91%);
background: linear-gradient(to bottom, #edda1d 1%,#f1e57c 91%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edda1d', endColorstr='#f1e57c',GradientType=0 );

    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
}
.hdd{ font-size:12px; font-weight:700;padding-bottom: 10px;}
.disable2{ border:1px solid #f3f3f3;     text-align: center; padding:10px 0}
.disable2 i{ color:#f3f3f3; font-size: 33px;}
.txtarea{ height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    color: #000;
    margin-bottom: 50px;
	}
.qty{ background:#f5313f; color:#FFF}
.order{ 
 background: #ececec;
    color: #fff;
    padding: 3px 12px;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
	}
.order a{ color:#fff;}
.order a:hover{ text-decoration:none; color:#666 !important;}
.marbot30{ margin-bottom:30px;}
@media only screen and (max-width:768px){
	
	.role2{ float:none; text-align:center;}
	.right-icon {
    text-align: center;
}	
}