@charset "utf-8";
/* CSS Document */

/*----google font -----*/

@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


/*----google font -----*/
*{ focus:none; outline:none;}
a:focus, a:hover{ text-decoration:none;}
body{font-family: 'Open Sans', sans-serif;}
.role{
    text-align: center;
    padding:1px 0;
    border: 1px solid #ddd;
    display: inline-block;
    float: right;
	width:25%;
	font-weight: 600;
	}
.role a{ text-transform: uppercase;
    text-decoration: none;
	color: #CCC;
	font-size:12px;
		}
		
		.role3{
    text-align: center;
    padding:1px 0;
    border: 1px solid #ddd;
    display: inline-block;
    float: left;
	width:25%;
	font-weight: 600;
	}
.role3 a{ text-transform: uppercase;
    text-decoration: none;
	color: #CCC;
	font-size:12px;
		}
	.role4{display: inline-block;
    float: left;
    padding: 5px 8px 5px 0;
    font-size: 12px;
	font-weight: 700;
	}
	
.role2{
    padding: 5px 0;
    font-size: 12px;
	font-weight: 700;
	}
.right-icon{ margin-bottom: 40px;  display: block;   text-align: left;
    background: #232262;
    padding:1px 12px 3px 12px}
.seting-icon{
	text-align: right;
    font-size: 21px;
    color: #b7b7b7;
	}
.padtop30{ padding-top:30px;}
.margtop30{ margin-top:30px;}
.hed{ color:#000; font-size:12px; font-weight:600; text-align:center;}
.txt{ border:1px solid #ececec; color:#999; border-radius:3px; padding:0 5px; height:25px;margin-left: 8px;}
.serch{
	border-radius: 5px;
    padding: 4px 8px;
    background: #eaeaea;
    color: #fff;
    border: 0;
    font-size: 13px;
	}
.mytable { text-align:center; background:#F4F6F8;  border-radius: 4px;
    overflow: hidden;}
.mytable td {    border-bottom: 1px solid #fff;}
.tbl tr td{ vertical-align:middle !important;}

.green{background: #fff;

    margin: 0 auto;
border-radius: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;text-align: center;
	
	-webkit-box-shadow: 0px 0px 0px 5px rgba(188,229,175,1);
-moz-box-shadow: 0px 0px 0px 5px rgba(188,229,175,1);
box-shadow: 0px 0px 0px 5px rgba(188,229,175,1); border:solid 2px #60BE3A;
}
.green a{ color:#60BE3A; font-size:13px}
.green a i {margin-top: 2px;}


.yellow{background: #e8f400;
background: -moz-linear-gradient(top, #e8f400 0%, #f7ff8e 76%);
background: -webkit-linear-gradient(top, #e8f400 0%,#f7ff8e 76%);
background: linear-gradient(to bottom, #e8f400 0%,#f7ff8e 76%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f400', endColorstr='#f7ff8e',GradientType=0 );
    margin: 0 auto;
border-radius: 20px;
    height: 22px;
    width: 22px;
    line-height: 22px;
}
.yellow i{ color:#FFF;}




.disable{margin: 0 auto;}
.disable { color:#e6e6e6;}
.disable i{font-size:24px;}
.last-text{ color:#fff; background: #edda1d;
background: -moz-linear-gradient(top, #edda1d 1%, #f1e57c 91%);
background: -webkit-linear-gradient(top, #edda1d 1%,#f1e57c 91%);
background: linear-gradient(to bottom, #edda1d 1%,#f1e57c 91%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edda1d', endColorstr='#f1e57c',GradientType=0 );

    font-size: 12px;
    border-radius: 4px;
    display: inline-block;
    padding: 3px;
}
.hdd{ font-size:12px; font-weight:700;padding-bottom: 10px; font-family: 'Arimo', sans-serif; text-transform:capitalize}
.disable2{ border:1px solid #f3f3f3;     text-align: center; padding:10px 0}
.disable2 i{ color:#f3f3f3; font-size: 33px;}
.txtarea{ height: 150px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    color: #000;
    margin-bottom: 50px;
	}
.qty{ background:#f5313f; color:#FFF}
.right-icon .order{background: transparent;     border-radius: 6px;      padding: 1px 8px; border:none!important}
.right-icon .order:hover{ border: 1px solid #fff; color:#fff}
.right-icon1 {text-align: right;}
.right-icon  .seting-icon i.fa-cog{color:#fff;}
.order{ 
 background: #ececec;
    color: #fff;
    padding: 3px 12px;
    text-align: center;
    font-size: 11px;
    border-radius: 3px;
	}
.order a{ color:#fff;}
.order a:hover{ text-decoration:none; color:#666 !important;}
.marbot30{ margin-bottom:30px;}


/*radio button*/
.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
       padding-left: 2px;
    padding-right: 33px;
	font-size:13px;
	font-weight:600;
	color:#e6e6e6;
	 }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"],.radio input[type="checkbox"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
   
    outline-offset: -2px; }
    .radio input[type="checkbox"]:focus + label::before {
   
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
    .radio input[type="checkbox"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
    .radio input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.radio input[type="checbox"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }
	
	.checkbox, .radio {
    position: relative;
     display: inline-block; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color:#5c6ac4; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #5c6ac4; }
.radio-primary input[type="checkbox"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="checkbox"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="checkbox"]:checked + label::after {
    background-color: #428bca; }
@media only screen and (max-width:768px){
	
	.role2{ float:none; text-align:center; display:block;}
	.right-icon {
    text-align: center;
}	
.checkbox, .radio{ display:block; text-align:center;}
}
.red{background: #ff0000;
background: -moz-linear-gradient(top, #ff0000 0%, #ff8e8e 76%);
background: -webkit-linear-gradient(top, #ff0000 0%,#ff8e8e 76%);
background: linear-gradient(to bottom, #ff0000 0%,#ff8e8e 76%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff8e8e',GradientType=0 );
    margin: 0 auto;
border-radius: 20px;
    height: 22px;
    width: 22px;
    line-height: 22px;
}
.red i{ color:#FFF;}
.text-area{
 
 min-height: 85px;
    width: 100%;
    border: 0;
   
    overflow-x: hidden;
   
 
 }


.newscrl::-webkit-scrollbar {
    width: 4px;
}
 

.newscrl::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

.newscrl::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.newscrl::-webkit-scrollbar-thumb:window-inactive {
 background:#090; 
}

.instore{ border:1px solid #ddd;    padding: 13px 5px; }

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 22px;
  vertical-align: middle;
}


.switch input {display:none;}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.green-checked{
	margin: 0px 0 0 40px;
}

.order-btn{display: inline-block;
    padding-right: 9px;
    vertical-align: middle;}
    
.right-icon .seting-icon{vertical-align: middle;
    display: inline-block;}   
   .order-details-page .role2, .no-wrap{/* white-space: nowrap; */}
   
  .no-wrap span.radio.radio-primary{margin-top: 8px;}
  .order-details-page .no-wrap  .role2 {/* margin-left: -42px */ padding-top:8px}
  .remove-border, .remove-border td{
  border : 0 !important;
  }
  .margtop30.summary-header-fixed {
    position: fixed;
    width: 100%;
    height: 150px;
    top: -30px;
    background: #fff;
    z-index: 9;
}
.summary-table {
	margin-top:121px;
}
#table1{
	background : #fff;
	
}
.ordered-header-fixed {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 9;
    top: -30px !important;
}
.ordered-content{
	
    margin-top: 80px;
}
.b1 {font-family: 'Roboto', sans-serif; font-weight:700; font-size:11px; white-space:nowrap}
    @media (min-width:769px){
    .order-details-page .role2{margin-right: -20px;}
    .b2 .txt{display: table-cell;
    width: 79%;
    }

    .b1 {
    display: table-cell;
    padding-right: 5px;
    padding-top: 0px; vertical-align:middle}
.b2 {
    display: table-cell;

    vertical-align: top;
}
.b2 .txt{height: 27px;
    margin: 0 5px 5px 0;}
    .support_link {
    color: #fff;
    float: right;
    text-align: right;
    }
    .no-wrap span.radio.radio-primary{display: block;margin-top:0}
    }
    .support_link{padding-top: 3px; text-transform:uppercase; font-size:11px}
    .no-wrap .role2{float: left;
padding-right: 32px;
}
    .no-wrap .role2 {
    float: none;
    padding-right: 5px;
    margin-left: -11px;
    vertical-align: middle;
    display: table-cell;
}
.no-wrap span.radio.radio-primary{ vertical-align: middle;
    display: table-cell;    margin-top: 2px;   white-space: nowrap;}
.no-wrap .radio label{    padding-left: 1px;
    padding-right: 24px;
    font-size: 11px;}
    .role2 .serch{display: table-cell;
    width: 28px;
	    height: 28px;
    margin: 0 0px 5px 0;
    line-height: 28px;
   }
   .radio-primary input[type="radio"]:checked + label{
    color: #5c6ac4;
}
.ordered-content .mytable tr td:first-child{background-color:#5c6ac4; color:#fff; text-align:left;}
.ordered-content .mytable {
    text-align: left;
}
.ordered-content .mytable tr td{background-color:#f4f6f8; color:#657382;border:0;}
.ordered-content .mytable tr td:first-child strong{ font-weight: normal;
text-transform: uppercase;
font-size: 13px;}
.btn-primary[name="save_notes"]{background-color:#5c6ac4; color:#fff;}
.save_notes {
	text-align : center;
}
.btn-primary[name="update_notes"]{background-color:#5c6ac4; color:#fff;}
.instore {
border:0;    border-top: 2px solid #5c6ac4;
    padding: 13px 5px;
    text-align: center;
    background: #f4f6f8;
    width: 100%; 
}
.instore.radio label{font-size: 0;
padding: 0;
vertical-align: top;
width: auto;}
.radio input[type="radio"]:checked + label::before {
    border-color: #5c6ac4;
}
.radio input[type="radio"]:checked + label::after {
    background-color: #5c6ac4;
}
.radio input[type="checkbox"]:checked + label::before {
    border-color: #5c6ac4;
}
.radio input[type="checkbox"]:checked + label::after {
    background-color: #5c6ac4;
}
.heading_tr {background:#686EC8}
.heading_tr td {color:#fff}
.heading_tr .scanned_table {padding-top:8px}
.scanned_table, .scaaned_table {padding-bottom:0!important; padding-top:0!important}

table.scanned_qty_table {margin-top:10px; -webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px; overflow:hidden; }

table.scanned_qty_table  td {padding:4px; background:#C4CDD5; color:#fff }

.scaaned_table td {background:#DFE4E8; border-radius:1px}
.scaaned_table table { border-radius:1px}
.main-design tr:last-child .scaaned_table table { margin-bottom:10px!important; -webkit-border-bottom-right-radius: 4px!important;
-webkit-border-bottom-left-radius: 4px!important;
-moz-border-radius-bottomright: 4px!important;
-moz-border-radius-bottomleft: 4px!important;
border-bottom-right-radius: 4px!important;
border-bottom-left-radius: 4px!important; overflow:hidden}

.summary-role {}

.role2 {font-family: 'Roboto', sans-serif; font-weight:700; font-size:11px; white-space:nowrap; margin-right:20px}

.tbl.summary-table table {text-align:center; background:#F4F6F8!important;  border-radius: 4px;
    overflow: hidden;} 
	
.tbl.summary-table table 	thead {background:#686EC8}
.tbl.summary-table table 	thead td.hed {color:#fff}

.notes-bg {background:#232262}

.instore input[type=checkbox], .instore input[type=radio] {position:relative; z-index:99}
/*.unfl-ords {margin-left:0!important}*/

.order_filters .role2 {margin-right:40px}
.order_filters a{ color:#E6E6E6; font-size:15px; margin-left: 40px;
    position: relative;
    padding-left: 5px;}
    .order_filters a{margin-top: 10px;
margin-bottom: 10px;
display: inline-block;
vertical-align: middle;}
.order_filters a:before {content: "";
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;}
.order_filters a:first-child {margin-left:0}
.order_filters a.active {color:#686EC8}

.order_filters a.active:before {    border-color: #5c6ac4; }

.order_filters a.active:after { content: "";
    background-color: #5c6ac4;
    position: absolute;
    left: -16px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 4px;}
    .ordered-content {
    margin-top: 150px;
}
.summary-table .mytable .serch{background: #b7bcff;}
.summary-table .mytable td strong{font-weight: normal;
color: #657382;
font-size: 13px;}
.summary-table .mytable td a{
color: #657382;
font-size: 13px;}
.summary-table .mytable td strong a{font-weight:bold}